/* Courier is a nice font*/
* {
	font-family:Rockwell;
}
body {
	background-color: #edcbc2;
}
.banner_top {
	background-color: #6d2e3f;
	height: 4em;
	font-family: impact;
	font-size: 1em;
	text-align: center;
	color: white;
	position: fixed;
	top: 0em;
	width: 100%;
}
/*#banner_top2 {
	background-color: #6d2e3f;
	height: 3.5em;
	font-family: impact;
	font-size: 1em;
	text-align: center;
	color: white;
	position: fixed;
	top: 4em;
	width: 100%;
}*/
#basicDiv {
	height: 4em;
}
.boxes {
	text-align: center;
	background-color: #3e4f7d;
	color: white;
	font-size: 1.2em;
	border: 0.2em #3c4262 solid;
	border-radius: 0.6em;
	height: 3em;
	display: inline;
	position: relative;
}
.boxes:hover {
	font-size: 1.4em;
}
#box1 {
	margin-left: 30%;
}
#box2 {
	margin-left: 1.2em;
}
#box3 {
	margin-left: 1.2em;
}
#box4 {
	margin-left: 1.2em;
}
#box5 {
	margin-left: 1.2em;
}
p {
	color: #a43e32;
	text-align: center;
	position: fixed;
	top: 6em;
}
