* {
	font-family:Courier;
}
body {
	background-color: #edcbc2;
}
h1 {
	background-color: #6d2e3f;
	height: 2.3em;
	font-family: impact;
	font-size: 3em;
	text-align: center;
	color: white;
}
h2 {
	background-color: #6d2e3f;
	height: 2em;
	font-family: impact;
	font-size: 2em;
	text-align: center;
	color: white;
	margin-top: -2em;
}
/*.boxes {
	text-align: center;
	background-color: #3e4f7d;
	color: white;
	font-size: 1.2em;
	border: 0.2em #3c4262 solid;
	border-radius: 0.6em;
	height: 1.4em;
	margin-top: 1.87em; */
}
#box1 {
	display: inline;
	position: relative;
	margin-left: 31em;
}
#box2 {
	display: inline;
	position: relative;
	margin-left: 1.2em;
}
#box3 {
	display: inline;
	position: relative;
	margin-left: 1.2em;
}
#box4 {
	display: inline;
	position: relative;
	margin-left: 1.2em;
}
#box5 {
	display: inline;
	position: relative;
	margin-left: 1.2em;
}
p {
	color: #a43e32;
	text-align: center;
	font-size:2em;
}
