/* Courier*/

/*General rules*/
* {
	font-family:Rockwell;
}
body {
	background-color: #edcbc2;
}
a:link, a:visited, a:active, a:hover {
	text-decoration: none;
}
/*Banner*/
.banner {
	background-color: #6d2e3f;
	height: 8em;
	font-family: impact;
	text-align: center;
	color: white;
	position: fixed;
	top: 0em;
	margin-left:-0.5em;
	width: 100%;
}
#bannerName {
	font-size: 72px;
	margin-top: 0.05em;
	font-family: impact;
	color: white;
}
#bannerDescription {
	font-size: 2em;
	margin-top: -1em;
	font-family: impact;
	color: white;
}
/*Navbar*/
.boxes {
	text-align: center;
	background-color: #3e4f7d;
	color: white;
	font-size: 1.2em;
	border: 0.2em #3c4262 solid;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	display: inline;
	text-decoration: none;
	padding: 0.2em;
	margin-top: -7.5em;
	margin-bottom: 0.1em;
}
.boxes:hover {
	color: #dbdbdb;
}
#home {
	height: 1.6em;
}
#about {
	margin-left: 1em;
	height: 1.6em;
}
#qualifications {
	margin-left: 1em;
	height: 1.6em;
}
#workExp {
	margin-left: 1em;
	height: 1.6em;
}
#hobbies {
	margin-left: 1em;
	height: 1.6em;
}
#contact {
	margin-left: 1em;
	height: 1.6em;
}


/*Main page text/images*/
.start {
	color: #a43e32;
	text-align: center;
	margin-top: 5em;
	font-size: 2em;
	margin-left: 10%;
	margin-right: 10%;
	color: black;
}
p {
	color: #a43e32;
	text-align: center;
	font-size: 1.6em;
	margin-left: 10%;
	margin-right: 10%;
}
#about_pic {
	width: 7em;
	margin: auto;
	display: block;
	max-width: 7em;
	border-radius: 100%;
}
#about_pic:hover {
	width: 7.5em;
	max-width:7.5em;
}
